@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/poppins.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: poppins, sans-serif;
}

#header {
  display: flex;
  font-size: 50px;
  align-items: center;
  padding: 30px;
  padding-left: 50px;
  background-color: #d3d3d3;
  color: #253529;
}

#header > div {
  font-weight: bold;
}

#add-btn {
  padding: 10px;
  display: flex;
  gap: 5px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  width: max-content;
  font-weight: bold;
  font-size: 18px;
}

#add-btn > img,
#cancel-dialog > img {
  width: 30px;
  height: auto;
}

#add-btn:hover {
  background-color: #a9a9a9;
}

#log-in {
  margin-left: auto;
  background-color: #a9a9a9;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  height: min-content;
  font-weight: bold;
  padding: 10px;
}

#log-in:hover {
  background-color: #808080;
  border-radius: 10px;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

#content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background-color: #757575;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 10px 20px 30px 20px;
}

/* .card-header, */
.card img {
  width: 25px;
  height: auto;
  cursor: pointer;
}

.card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-content {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.card-footer {
  display: flex;
  margin-top: auto;
}

.eye {
  margin-left: auto;
}

#dialog-box {
  background-color: #d3d3d3;
  border-radius: 10px;
  border: none;
  position: fixed;
  margin: auto;
  padding-bottom: 20px;
}

#dialog {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

#dialog-header {
  display: grid;
  grid-template-columns: 50px max-content 50px;
  gap: 30px;
}

#dialog-header > h1 {
  grid-column-start: 2;
}

#cancel-dialog {
  width: max-content;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: none;
  justify-self: right;
}

#cancel-dialog:hover {
  background-color: #808080;
}

#read-bx {
  display: flex;
  gap: 10px;
}

input.input{
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: white;
}

#dialog > input {
  display: block;
}

#read-bx > label {
  font-size: 18px;
}

#read {
  width: 25px;
  height: 25px;
}

button.input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color:#00ff7f;
  color: white;
  border-radius: 10px;
  border: none;
}

button.input:hover {
  background-color: #00fa9a;
  cursor: pointer;
}

dialog::backdrop {
  backdrop-filter: blur(10px);
}

button:focus,
button:active {
  outline: none;
  border: none;
}